*{
    margin: 0px 0px;
    padding: 0px 0px;
}
#jobseeker-registration-field{
    background-color: #3b3e3f;
    height: 190vh;
}
#outer-content{
    padding-top: 5rem;
    margin-left: 20rem;
    width: 125vh;
}
#inner-content{
    background-color: white;
    padding: 2rem 3rem 2rem 3rem;
    border: 1px solid white;
    border-radius: 1.5rem;
}
#inner-content h3{
    padding-bottom: 1rem;
    font-size: 1.3rem;
    color: #00737e;
    font-family: sans-serif;
}
#inner-content p{
    font-size: 0.9rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    font-family: sans-serif;
}
#inner-content label{
    font-family: sans-serif;
}
.star{
    color: red;
}
#for-gender{
    margin-bottom: 0.5rem;
}
#inner-content .details{
    margin-top: 1rem;
}
#inner-content form div .tag{
    margin-top: 0.8rem;
    padding-left: 1rem;
    height: 1.5rem;
    width: 20rem;
    margin-bottom: 0.3rem;
}
#terms{
    font-family: sans-serif;
    font-size: 0.9rem;
    margin-top: 1rem;
    line-height: 1.5rem;
}
#user-gender{
    margin-bottom: 0.7rem;
}
#user-gender .gen{
    padding-left: 0.5rem;
}
#user-gender .radio-btn{
    margin-left: 1.1rem;
}
#button input{
    padding:0.5rem 1rem 0.5rem 1rem;
    font-size: 1rem;
    margin: 1rem 0rem 2rem 0rem;
    border-radius: 5px;
    color: white;
    background-color: rgba(42, 198, 36, 0.804);
    border: 1px rgba(42, 198, 36, 0.804);
}
input::placeholder{
    font-family: sans-serif;
}
.tag option{
    font-family: sans-serif;
}
.error_msg{
    color: red;
    font-size: 15px;
}