*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#color-letter{
    color: #25aae1;
}
#my-company-logo{
    text-decoration: none;
    color: #d1d2d4;
}
#sidebar-wrapper{
    background-color: #3b3e3f;
}
.fa-building{
    font-size: 2rem;
}
#mng-job-table{
    margin-left: 2rem;
    margin-top: 2rem;
    background-color: white;
    width: fit-content;
    border-radius: 0.5rem;
}
table{
    margin-top: 2rem;
}
table tr{
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
}
table thead tr{
    border-top: 1px solid black;
}
table thead th{
    border-left: 1px solid black;
    padding: 1rem;
}
table tr td{
    border-left: 1px solid black;
    padding: 1rem;
}
#content{
   padding: 2rem;
}