*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.first-div{
    border: 2px solid black;
    width: fit-content;
    margin-top: 3rem;
    margin-left: 2rem;
}
#second-div{
    margin: 1rem;
}
form{
    margin-top: 1rem;
}
#third-div{
   margin: 1rem;
}
.first-div h3{
    margin-left: 1rem;
    margin-right: 1rem;
}
table{
    border: 2px solid black;
 }
 table tr {
     border-bottom: 1px solid black;
 }
 table td{
     padding: 0.5rem;
     border-left: 2px solid black;
 }
 table th{
     padding: 0.5rem;
 }